<div class="cont_main">
  <form>
    <label for="pass_distance">
      Количество километров:
      <input
        type="number"
        name="pass_distance"
        id="pass_distance"
        [(ngModel)]="distance"
      />
    </label>
    <label for="pass_age">
      Возраст:
      <input type="number" name="pass_age" id="pass_age" [(ngModel)]="age" />
    </label>
    <label for="pass_weight">
      Вес багажа:
      <input
        type="number"
        name="pass_weight"
        id="pass_weight"
        [(ngModel)]="weight"
      />
    </label>
    <input type="button" value="Рассчитать" (click)="calcPrices()" />
  </form>
  <h3>Предложения:</h3>
  <div class="cont_results">
    <div class="line_result line_bold">Аэрофлот</div>
    <p class="line_result">Эконом: <span #aero_eco></span>Р</p>
    <p class="line_result">Продвинутый: <span #aero_pro></span>Р</p>
    <p class="line_result">Люкс: <span #aero_lux></span>Р</p>
    <div class="line_result line_bold">РЖД</div>
    <p class="line_result">Эконом: <span #rzd_eco></span>Р</p>
    <p class="line_result">Продвинутый: <span #rzd_pro></span>Р</p>
    <p class="line_result">Люкс: <span #rzd_lux></span>Р</p>
  </div>
</div>
